
.parent{ 
font-family:"Pacifico";
color:white;
font-size: 140px;
padding-left:400px; 
padding-top:125px;
text-align:center;
}

.child {
	display:none;
}
.parent:hover{ 
	color:white;	
}

.wrapper{
	display:flex;
	position:relative;
}

.sidebar{
	font-family:"Pacifico"
}

.wrapper, 
.sidebar{
	position: fixed;
	width:400px;
	height:1000px;
	background-color: #152861;
	padding: 45px 0;
	font-size:40px;
	text-align:center;
	margin-bottom: 30px;
}

ul ul {
	padding: 40px;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	border-bottom: 1px solid rgba(225,225,225,0.05);
}

.wrapper,
.sidebar
ul ul a{
	color:#FFFFFF;
	display:block;
}
 
ul ul a .fas{
	width:35px;
}

ul ul:hover{
	background:#1c3581;
	width:400px;
	padding:45px 0;
}

.about {
	font-family:"Pacifico";
	color:white;
	font-size: 50px;
	margin-left:450px; 
}

@media screen and (max-width: 768){

}

@media screen and (max-width: 991){

}

@media screen and (max-width: 1199){

}

font-family: 'Arimo', sans-serif;
font-family: 'Pacifico', cursive;



