
.parent{ 
font-family:"Pacifico";
color:white;
font-size: 140px;
padding-left:400px; 
padding-top:125px;
text-align:center;
}

.child {
	display:none;
}
.parent:hover{ 
	color:white;	
}

.wrapper{
	display:flex;
	position:relative;
}

.sidebar{
	font-family:"Pacifico"
}

.wrapper, 
.sidebar{
	position: fixed;
	width:400px;
	height:1000px;
	background-color: #152861;
	padding: 45px 0;
	font-size:40px;
	text-align:center;
	margin-bottom: 30px;
}

ul ul {
	padding: 40px;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	border-bottom: 1px solid rgba(225,225,225,0.05);
}

.wrapper,
.sidebar
ul ul a{
	color:#FFFFFF;
	display:block;
}
 
ul ul a .fas{
	width:35px;
}

ul ul:hover{
	background:#1c3581;
	width:400px;
	padding:45px 0;
}

.about {
	font-family:"Pacifico";
	color:white;
	font-size: 50px;
	margin-left:450px; 
}


@media screen and (max-width: 768px){

.wrapper,
.sidebar{
	width:150px;
	height:1500px;
	font-size:15px;
	padding-top:0px;
}
.parent{
	font-size:25px;
	padding-left:200px;
	padding-top:100px;
}
}

@media screen and (min-width: 768px max-width: 991px){

.wrapper,
.sidebar{
	width:350px;
	height:700px;
	font-size:33px;
	padding-top:0px;
}

.parent{
	font-size:150px;
	padding-left:450px;
	padding-top:175px;
}
}

@media screen and (min-width:992px max-width: 1199){
.wrapper
.sidebar{
	width:450px;
	height:1200px;
	padding:20px;
	font-size:55px;
	padding-top:0px;
}	
.parent{
	font-size:150px;
	padding-top:200px;
}

@media screen and (min-width:1200px){
.parent{
	font-size:150px;
	padding-top:200px;
}
.wrapper,
.sidebar{
	width:450px;
	height:1200px;
	padding:20px;
	font-size:55px;
	padding-top:0px;
}	
}

font-family: 'Arimo', sans-serif;
font-family: 'Pacifico', cursive;



