/*beginning*/
h1{
	color:#3C3B6E;
	text-align:center;
	padding-top:25px;
	font-family:"Cantana One";
}

.byline{
	color:black;
	text-align:center;
	font-size:16px;
	font-family:"Imprima";
}

/*stars*/
.far{
	color:#3C3B6E;
}

.fas{
	color:#B42033;
	text-orientation:center;
	padding-top:50px;
}

/*introtext*/
.intro{
	padding-left:250px;
	padding-right:250px;
	text-align:center;
	padding-top:25px;
	font-size:16px;
	font-family:"Imprima";
}

.containerone{
	margin-left:325px;
	margin-right:250px;
	padding-top:25px;
}

.col{
	font-size:16px;
	font-family: "Imprima";
}
.chart{
	width:50%;
	height:auto;
}

/*pullquotes*/
.bigcontainer{
	margin-top:20px;
	background-color:#CECECE;
	margin-left:250px;
	margin-right:250px;
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:5px;
	padding-right:5px;
	font-size:16px;
	font-family:"Cantata One";
}

.bigcontainertwo{
	margin-top:20px;
	margin-left:250px;
	margin-right:250px;
	padding-top:20px;
	padding-bottom:20px;
	font-size:16px;
	font-family:"Cantata One";
}

.bigcontainerfour{
	background-color:#CECECE;
	padding-bottom:40px;
}

/*beforeexamples*/
.extra{
	font-size:17px;
	font-family:"Imprima";
}

.swingstate{
	font-size:30px;
	padding-top:40px;
	text-decoration: underline black;
	text-align:center;
	text-underline-position: black;
	font-family:"Cantata One";
}

.list{
	font-size:30px;
	padding-top:40px;
	text-align:center;
	text-decoration: underline black;
	font-family:"Cantata One";
}

.listtwo{
	font-size:15px;
	text-align:center;
	font-family:"Cantata One";
}
.major{
	font-size:30px;
	padding-top:60px;
	text-decoration: underline black;
	text-align:center;
	text-underline-position: black;
	font-family:"Cantata One";
}

/*Five examples*/
.dem{
	padding-top:50px;
	color:black;
	font-size:23px;
	text-align:center;
	font-family: "Cantata One";
}

.firstwin{
	color:#3C3B6E;
	font-family:"Cantata One";
	font-size:20px;
	text-align:center;
}
.prestext{
	font-family:"Imprima";
	font-size:16px;
}

.secondwin{
	color:#B42033;
	font-family: "Cantata One";
	text-align:center;
	font-size:20px;
}

/*pictures*/
.vote, .ivote{
	height:auto;
	max-width:100%;
}

.voting{
	height:auto;
	max-width:75%;
	padding-left:375px;
}

/*endtext*/
.reasons{
	font-size:25px;
	padding-top:30px;
	text-align:center;
	font-family:"Cantata One";
}

/*media*/
@media screen and (max-width:770){
	h1{
		font-size:20px;
		text-align:justify;
	}
	.intro,.reasons{
		text-align:justify;
	}
	.bigcontainertwo{
		display:none;
	}
	.prestext{
		font-size:12px;
	}
	.voting{
		display:none;
	}
}

@media screen and (max-width:414){
	h1{
		font-size:16px;
		text-align:justify;
	}
	.intro,.reasons{
		text-align:justify;
	}
	.bigcontainertwo{
		display:none;
	}
	.prestext{
		font-size:12px;
	}
	.voting,.blockquote,.swingstate,.listtwo,.ElectoralVotes{
		display:none;
	}
	.vote{
		display:none;
	}
}

@media screen and (max-width:375){
	h1{
		font-size:14px;
		text-align:justify;
	}
	.far,.fas{
		display:hidden;
	}
	.byline{
		font-size:12px;
		text-align:justify;
		padding-left:0;
		padding-right:0;
	}
	.intro{
		margin-left:none;
	}
	.bigcontainertwo{
		display:none;
	}
	.prestext{
		font-size:12px;
	}
	.voting,.blockquote,.extra,.listtwo,.ElectoralVotes,.far,.fas{
		display:none;
	}
}


/*Fonts*/
font-family: 'Cantata One', serif;
font-family: 'Imprima', sans-serif;