
.contact{ 
font-family:"Pacifico";
color:white;
margin:0 auto;
font-size:90px;
padding-left:650px; 
padding-top:150px;
}

.text {
	padding-left:600px; 
	color:white;
	font-size:30px;
	font-family:"Arimo";
}
.wrapper{
	display:flex;
	position:relative;
}

.sidebar{
	font-family:"Pacifico"
}

.wrapper, 
.sidebar{
	position:fixed;
	width:400px;
	height:1000px;
	background-color:#152861;
	padding:45px 0;
	font-size:40px;
	text-align:center;
	margin-bottom:30px;
}

ul ul {
	padding:40px;
	border-bottom:1px solid rgba(0,0,0,0.05);
	border-bottom:1px solid rgba(225,225,225,0.05);
}

.wrapper,
.sidebar
ul ul a{
	color:#FFFFFF;
	display:block;
}
 
ul ul a .fas{
	width:35px;
}

ul ul:hover{
	background:#1c3581;
	width:400px;
	padding:45px 0;
}


@media screen and (max-width: 768){
.wrapper,
.sidebar{
	width:200px;
	height:2000px;
	font-size:15px;
	padding-top:0px;
}
.contact{
	font-size:20px;
	padding-left:300px;
}
.text{
	font-size:15px;
	padding-left:300px;
}
}

@media screen and (min-width: 768px max-width: 991px){
.wrapper,
.sidebar{
	width:400px;
	height:1100px;
	padding:20px;
	font-size:50px;
	padding-top:0px;
}
.contact{
	font-size:40px;
	padding-top:225px;
	padding-left:400px;
}
.text{
	font-size:15px;
	padding-left:400px;
}
}

@media screen and (min-width:992px max-width: 1199){
.wrapper,
.sidebar{
	width:450px;
	height:1200px;
	padding:20px;
	font-size:50px;
	padding-top:0px;
}	
.contact{
	font-size:90px;
	padding-top:250px;
	padding-left:500px;
}
.text{
	font-size:30px;
	padding-left:500px;
}
}

@media screen and (min-width:1200px){
.wrapper,
.sidebar{
	width:450px;
	height:1200px;
	padding:20px;
	font-size:50px;
	padding-top:0px;
}	
.contact{
	padding-left:500px;
	font-size:90px;
	padding-top:250px;
}
.text{
	padding-left:500px;
	font-size:30px;
}
}

font-family: 'Arimo', sans-serif;
font-family: 'Pacifico', cursive;
